*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
header{
  position: sticky;
  background-color: #13688C;
  height: 60px;
  top: 0;
  color: #83CFDF;
  font-size: 20px;
  border-radius: 0px 0px 20px 20px;
  text-shadow: 2px 2px black;
}
.nav{
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.nav form{
  width: 40%;
}
.nav form button{
  height: 35px;
  background-color: inherit;
  padding: 5px 10px;
  border: 1px solid #272532;
  border-radius: 10px;
}
.nav form button:hover{
  background-color: #116082;
}
.nav form input{
  border-radius: 10px;
  height: 35px;
  border: 1px solid #272532;
  padding: 5px;
  background-color: inherit;
  width: 90%;
}
body{
  box-sizing: border-box;
  background-color: #272532;
}
.movie-handle{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.search-result{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.movie-handle h1{
  margin: 10px 0px;
  font-size: 25px;
  color: #83CFDF;
  text-shadow: 3px 3px black;
}
main{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  /*Scrolling for differnet browsers*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main::-webkit-scrollbar
{
  display: none;
}
.movie{
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  background-color: #373B69;
  height: 280px;
}
.movie:hover{
  transform: scale(1.02);
}
.image{
  width: 154px;
  height: 231px;
}
.movie-info{
  width: 154px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: white;
  font-size: 11px;
}
.movie-rating{
  width: 25px;
  max-height: 15px;
  text-align: center;
  background-color: #272532;
  border-radius: 5px;
}
